*~
#*
.#*
Dependencies*
*.so
doc/
obj/
.sconsign.dblite
*.pb.h
*.pb.cpp
*.c2t
compile_commands.json

# Eclipse may create these
.project
.cproject
.settings/

# Distribution files in CI
dist/

/.vscode
